@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

$oswald: 'Oswald', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;

$family-sans-serif: $roboto-condensed;

$font-xxs: 10px;
$font-xs: 12px;
$font-small: 14px;
$font-baseline: 16px;
$font-large: 18px;
$font-xl: 24px;
$font-xxl: 36px;
$font-xxxl: 48px;